extends layout
block content

    script(type="text/javascript").
        const gelirEkle = (e) => {
            e.preventDefault()
            $.post('/gelir-ekle', { 
                miktar: e.target.miktar.value,
                kasaID: e.target.kasa.value
            }).then(res => {
                window.open('/gelirler', '_self');
            }).catch(err => console.error(err));
            console.log("çalıştı!")
        }
        const format = (e) => {
            e.target.value = parseFloat(e.target.value);
        }

    .row.mt-4
        .col-md-12
            .card
                .card-body
                    form(onsubmit="return gelirEkle(event)")
                        .form-group
                            label(for='exampleFormControlInput1') Gelir Miktarı
                            input#exampleFormControlInput1.form-control(type='text', name="miktar" placeholder='0 ₺' onchange="format(event)")
                        .form-group
                            label(for='exampleFormControlSelect1') Kasa
                            select(name="kasa")#exampleFormControlSelect1.form-control
                                each kasa in kasalar
                                    option(value=kasa.ID)=kasa.kasaAdi
                        button(class="btn btn-danger") Ekle
