extends layout
block content

    script(type="text/javascript").
        const gelirSil = (e, ID) => {
            e.preventDefault();
            $.post('/gelir-sil', {ID})
            .then(data => {
                location.reload();
            })
            .catch(err => window.alert("Hata ;\n"+JSON.stringify(err)));
        }

    .row.mt-4
        .col-md-12
            .card(style="max-height: 100%; overflow-y: auto;")
                .card-body
                    table.table
                        h3 Gelirlerim
                        thead
                            tr
                                th(scope='col', style="width: 30px;")
                                th(scope='col', style="width: 30%;") Miktar
                                th(scope='col', style="width: 30%;") Kasa
                                th(scope='col') Tarih
                                th(scope='col') Sil
                        tbody
                            each gelir, index in gelirler
                                tr
                                    - const aylar = [ "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" ]
                                    - const tarih = (gelir.tarih.getDate() < 10 ? (0+""+gelir.tarih.getDate()) : gelir.tarih.getDate())+" "+aylar[gelir.tarih.getMonth()]+" "+gelir.tarih.getFullYear()
                                    td=index
                                    th #{gelir.miktar} ₺
                                    td=gelir.kasaAdi
                                    td=tarih
                                    td
                                        button.btn.btn-danger(onclick='gelirSil(event, "'+ gelir.ID +'")')
                                            | Sil
    include helpers/ekleGelir