.row.bg-light
    .container
            .col-md-12
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href='/') Fivi
                        b Muhasebem
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | İşlemler
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='/gelir-ekle') Gelir Ekle
                                    a.dropdown-item(href='/gider-ekle') Gider Ekle
                            li.nav-item
                                a.nav-link(href='/gelirler') Gelirlerim
                            li.nav-item
                                a.nav-link(href='/giderler') Giderlerim
                            li.nav-item
                                a.nav-link(href='/kasalar') Kasalarım